<?xml version="1.0"?>


<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Module-XML-Path" value="~/XMLData/Module.xml"/>
  </appSettings>
  <system.web>
    <trace pageOutput="false" enabled="true" requestLimit="1000" traceMode="SortByTime"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ApplicationErrorLog" type="GeneralModule.Module.ApplicationErrorLog"/>
    </modules>
  </system.webServer>
</configuration>